@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i>Home</i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i>Features</i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><i>Pricing</i></a>
                            <a class="dropdown-item" href="#"><i>Nutrition Info & Allergy Warnings</i></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i>Shipping Info</i></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <!-- Home, Featured, Pricing, About -->
        </nav>

        <h1><b><i>Welcome</i></b></h1>
         <h2><b><i>To Innovations Express Candy Shop!</i></b></h2>
        <span style="font-size: 32px; margin: 21px 0; display:block; "><i>Delectable Treats Sure to Satisfy Your sweet Tooth?</i></span>
        <p><b>Visit Us In Store or Shop Online at <a href="https://docs.microsoft.com/aspnet/core">IVCS@gmail.com</a></b></p>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <section class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Stay Signed In</label>
            </section>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <nav aria-label="Page navigation example"></nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>

            <a href="Innovations Virtual Candy Order Form"></a>
    </div>

